.block{
display:block;
background:lightblue;
margin:10px;
}

.inline{
display:inline;
background:yellow;
padding:5px;
}

.inlineblock{
display:inline-block;
background:lightgreen;
padding:10px;
margin:5px;
}

.hidden{
display:none;
}