.left{
float:left;
margin:10px;
}

.column{
float:left;
width:45%;
background:#ddd;
padding:20px;
margin:10px;
}
.main{
width:90%;
margin:auto;
}

.content{
float:left;
width:65%;
background:#f2f2f2;
padding:20px;
}

.sidebar{
float:right;
width:30%;
background:#ddd;
padding:20px;
}